.carousel-control-prev, .carousel-control-next {
    color: black;
}

.footerBg {
    background-color: #850e35;
    color: white;
}

.btn-container {
    display: flex;
    gap: 20px; 
}

.btn-secondary {
    background-color: #850e35;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    background-color: #850e35;
    color: white;
}

.banner .banner__item {
    margin-bottom: 30px;
}

.banner .banner__item__pic img {
    max-width: 100%;
}

.banner .banner__item__text {
    text-align: center;
}

.banner .banner__item__text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.banner .banner__item__text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.banner .banner__item__text a:hover {
    background-color: #850e35;
}

.dd-logout {
    color: #850e35;
}

.dd-logout:hover {
    color: #fff;
    background-color: #850e35;
}

.dd-item:hover {
    color: #ee6983;
    background-color: #ffc4c4;
}

.dd-profile {
    border-radius: 100px;
}

.bg-profile-1 {
    border-radius: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    border: 5px solid #ee6983;
    background-color: #fff;
}

.text-profile-1 {
    color: #850e35;
}

.img-profile {
    border-radius: 100%;
}

.btn-edit-profile {
    margin-top: 20px;
    background-color: #ee6983;
    border: none;
    border-radius: 8px;
    padding: 6px;
}

.btn-edit-profile:hover {
    background-color: #850e35;
}

.text-profile {
    text-decoration: none;
    color: white;
}

.jarak-ikon {
    padding-right: 20px;
}

.jarak {
    padding-right: 70px;
}

.h1-profil {
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.promo-box {
    position: relative;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
}

.promo-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.promo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.promo-text h2, .promo-text h3 {
    margin: 0 0 10px;
    color: #850e35;
}

.promo-text p {
    margin-bottom: 15px;
    color: #333;
}

.promo-text a {
    text-decoration: none;
    color: #fff;
    background-color: #850e35;
    padding: 10px 20px;
    border-radius: 5px;
}

.promo-text a:hover {
    background-color: #a6174b;
}

*{
    margin: 0%;

}

.hero{
    background-color: #a6174b;
}

