body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(/img/walpaper.jpg);
}

.container {
    display: flex;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.left-section {
    flex: 1;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.right-section {
    color: black;
}

.left-section h1 {
    font-size: 60px;
}

.left-section p {
    font-size: 18px;
}

.right-section {
    display: flex;
    flex-direction: column; /* tambahkan */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-container {
    max-width: 400px;
    width: 100%;
    background-color: white; /* tambahkan */
    padding: 25px; /* tambahkan */
    border-radius: 15px; /* tambahkan */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* tambahkan */
    align-items: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 25px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #EE6983;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #850E35;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #FFC4C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #EE6983;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-top: 70px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}