.carousel-control-prev, .carousel-control-next {
    color: black;
}

.footerBg {
    background-color: #850e35;
    color: white;
}

.btn-container {
    display: flex;
    gap: 20px; 
}

.btn-secondary {
    background-color: #850e35;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    background-color: #850e35;
    color: white;
}

.banner .banner__item {
    margin-bottom: 30px;
}

.banner .banner__item__pic img {
    max-width: 100%;
}

.banner .banner__item__text {
    text-align: center;
}

.banner .banner__item__text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.banner .banner__item__text a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.banner .banner__item__text a:hover {
    background-color: #850e35;
}

.dd-logout {
    color: #850e35;
}

.dd-logout:hover {
    color: #fff;
    background-color: #850e35;
}

.dd-item:hover {
    color: #ee6983;
    background-color: #ffc4c4;
}

.dd-profile {
    border-radius: 100px;
}



.bg-profile-1 {
    border-radius: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
}

.text-profile-1 {
    color: #850e35;
}

.img-profile {
    border-radius: 100%;
}

.btn-edit-profile {
    margin-top: 20px;
    background-color: #ee6983;
    border: none;
    border-radius: 8px;
    padding: 6px;
}

.text-profile {
    text-decoration: none;
    color: white;
}